.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 20px;
    padding:20px;
}
.col-8{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 80%;
    height: 80%;
}

@media (orientation : portrait) {
    .card{
        height:50%;
    }
}